
  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.navbarlink {
    color: rgb(244, 243, 243);
    text-decoration: none;
   
  }
  .navbarmain{
    background-color: rgb(48, 54, 54);
  }
  .nav{
    font-family: 'Mukta', sans-serif;

  }
  
 
  
